 <style>
      span {
          font-size: 20px;
          color: black;
          display: block;
      }
      p {
        font-size: 14px;
        color: rgba(0,0,0,0.6);
      }
      div {
        height: 10px;
        width: 1px;
      }
      </style>
      <img src="cid:unique@kreata.ee"/>
      <h2>Welcome to Just Plank!</h2>
      <span>You need to click here in order to verify your email: <a href={{url}}>Confirm your email</a></span>
      <p>URL: {{url}}</p>
      <p>
      This email confirmation link will expire in 1 day
      </p>
      <div></div>
      <span>You can also join our discord community! Here is your <a href={{discordInvite}}>invite</a></span>